<div class="blog-create_container">
    <h2>Đăng tải bài viết</h2>
    <div class="blog-create-form_container">

        <form method="POST" action="/blogs/store">
                <label for="title">Tên bài viết</label><br>
                <input type="text" class="" name="title"><br>

                <label for="image">Hình ảnh</label><br>
                <input type="text" class="" name="image" ><br>

                <label for="description">Chi tiết bài viết</label><br>
                <input type="text" class="" name="description"><br>

                <input type="submit" value="Thêm">
        </form>
    </div>
</div>



