<div class="blog-detail_container">
        <div class="blog-detail_img">
        <img src="{{blog.image}}" alt="">
        </div>
        
        <div class="blog-detail_title">
            <h2>{{ blog.title }}</h2>
        </div>

        <div class="blog-detail_des">
            <h4>{{blog.description}}</h4>
        </div>
</div>