<footer>
      <div class="row">
      <div class="col1">
    <img class="ft-logo" src="/img/logo.png" alt="">
    <span class="ft-span">470 Đường Trần Đại Nghĩa, Khu đô thị, Ngũ Hành Sơn, Đà Nẵng</span>
    <span class="ft-span">Hotline:</span>
    <span class="ft-span">Email:</span>
    <span class="ft-span"></span>
    </div>
    <div class="col2">
    <h4 class="ft-h4">Hỗ trợ khách hàng</h4>
    <a class="ft-a" href="">Câu hỏi thường gặp</a> <br><br>
    <a class="ft-a"href="">Điều khoản dịch vụ</a>
    </div>
    <div class="col3">
      <h4 class="ft-h4">chính sách</h4>
      <a class="ft-a" href="">Chính sách bảo mật</a><br><br>
      <a class="ft-a" href="">Chính sách đổi trả</a><br><br>
      <a class="ft-a" href="">Chính sách thanh toán</a><br><br>
      <a class="ft-a" href="">Chính sách vận chuyển</a>
    </div>
    <div class="col4">
      <h4 class="ft-h4">kết nối với chúng tôi</h4>
    </div>
  </div>
</footer>