<div class="container">
        <div class="row">
            <div class="column1">
                <div class="topbar">
                    <p class="webname">
                    First step for new journey!
                    </p>
                </div>
            </div>
            <div class="column2">
                <div class="taikhoan">
                    <div class="formuser">
                    <a class="user" href="/signin">Đăng Ký</a>
                    <span class="user">|</span>
                    <a class="user" href="/login">Đăng Nhập</a>
                </div>
                </div>
            </div>
          </div>
    </div>
    <header>
        <form action="/search">
        <div class="header_row">
            <a class="logo" href="/"><img width="185px" height="60px" src="/img/logo.png" alt=""></a>
            <input class="search" type="text" name="q" placeholder="Tìm kiếm...">
            <button type="submit" class="search_btn"> Tìm kiếm

            <a href="/search.hbs"></a>
            {{!-- <img src="/img/search.png" alt=""> --}}</button>
        </form>
    </header>





