        <div class="row">
            <div class="cot1">
                <h3>Viết nhận xét</h3>
                <input id="nhanxet" type="text" placeholder="Tên của bạn"><br><br>
                <input id="nhanxet" type="email" placeholder="Email của bạn"><br> <br>
                <input id="nhanxet2" type="text" placeholder="Viết bình luận"> <br><br>
                <button id="guinhanxet">Gửi</button> <br><br>
            </div>
            <div class="cot2">
                
            </div>
        </div>