 <div class="bannertruyen">
        <img width="70%" src="/img/anh8.jpg" alt="">
    </div class="bangthongtin">
    <div>
    <div class="thongtintruyen">
        <p>Tên tác giả:</p><br>
        <p>Tên Truyện:</p><br>  
    </div>
    <div class="nextpage1">
       <br><br> <button>Đọc từ đầu</button>
        <button id="btn2">Đọc từ chương mới nhất</button>
    </div>
    <div>
        <h2>Danh sách chương:</h2></div>
    </div>
    <div class="bangchuong">
    <table border="1">
        
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 342 : Ta đã thấy gì đêm đó</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 341 : Sương mù</a>
            </td>
        </tr>
        <tr>
            <td>
               <a class="danhsachchuong" href=""> Chương 340 : Cơ Hội</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 339 : Vết Cắt Thiên Đường</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 338 : Chi Tiết Hành Trình Qua Vùng Đất Lạ</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 337 : Đích Đến</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="danhsachchuong" href="">Chương 336 : Kẻ Thù Cuối Cùng</a>
            </td>
        </tr>
    </table>
    </div>