<div class="content">
        <div class="nav">
            <ul class="list">
                <li style="list-style:none"><a href="/">Trang Chủ</a></li>
                <li style="list-style:none" ><a href="/details">Danh Sách Truyện</a></li>
                <li style="list-style:none"><a href="/blogs">Blogs</a></li>
                <li style="list-style:none"><a href="/contact">Liên Hệ</a></li>
            </ul>
        </div>

        <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width / with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/img/banner1.png" style="width:100%">
      {{!-- <div class="text">Caption Text</div> --}}
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/img/banner2.png" style="width:100%">
      {{!-- <div class="text">Caption Two</div> --}}
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/img/banner3.png" style="width:100%">
      {{!-- <div class="text">Caption Three</div> --}}
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <div class="product">
  <h2>MỚI CẬP NHẬT</h2>
    <ul class="pro-list">
      <li><a href=""><img width="210px" height="336px" src="/img/anh1.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh2.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh3.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh4.jpg" alt=""></a> </li>
    </ul>
    <ul class="pro-list2">
      <li><a href=""><img width="210px" height="336px" src="/img/anh5.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh6.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh7.jpg" alt=""></a> </li>
      <li><a href=""><img width="210px" height="336px" src="/img/anh9.jpg" alt=""></a> </li>
      
    </ul>
</div>
    <a class="link" href=""> >XEM DANH SÁCH TRUYỆN </a>

  <h2 class="blogs">
    BLOGS
  </h2>

  <div class="row">
    <div class="post1">
      <a href=""><img width="500.33px" height="299.55px" src="/img/Blog1.jpg" alt=""></a></br>
      <a class="postname" href="">[ĐIỂM SÁCH] CHIẾC HỘP RỖNG VÀ MARIA LẦN 0 </a>
    </div>
    <div class="post2">
      <a href=""><img width="500.33px" height="299.55px" src="/img/Blog2.jpg" alt=""></a></br>
      <a class="postname" href="">[REVIEW ĐỘC GIẢ] 5 CENTIMET TRÊN GIÂY</a>
    </div>
    <div class="post3">
      <a href=""><img width="500.33px" height="299.55px" src="/img/Blog3.jpg" alt=""></a></br>
      <a class="postname" href="">[ĐIỂM SÁCH] KHI TẾ BÀO LÀM VIỆC </a>
    </div>
  </div>
    </div>




 