<div id="wrapper"  >
        <form action="" method="post" id="formdangnhap">
            <div class="tagname">Đăng nhập</div>
            <input id="dangnhap" type="text" placeholder="Nhập tên đăng nhập" ><br>
            <input id="dangnhap" type="email" placeholder="Nhập email"><br>
            <input id="dangnhap" type="password" placeholder="Nhập mật khẩu"><br>
            <div class="nutbamdangnhap">
            <button id="nutdangnhap" type="submit">Đăng Nhập</button>
            </div>
        </form>
    </div>