<div id="wrapper">
        <form id="formdangki" method="POST" action="/users/store">
            <div class="tagname">Đăng ký</div>
            <label for="name">Tên</label><br>
            <input id="dangki"  type="text" name="name" placeholder="Nhập tên " ><br>

            <label for="account">Tên tài khoản</label><br>
            <input id="dangki" type="text" name="account" placeholder="Nhập tài khoản"><br>

            <label for="email">Email</label><br>
            <input id="dangki" type="email" name="email" placeholder="Nhập email"><br>

            <label for="password">Mật khẩu</label><br>
            <input id="dangki" type="password" name="password" placeholder="Nhập mật khẩu"><br>

            <label for="password">Nhập lại mật khẩu</label><br>
            <input id="dangki" type="password" name="password" placeholder="Nhập lại mật khẩu">

            <div class="nutbamdangki">
            <input type="submit" id="nutdangki" value="dangki">
            </div>
        </form>
    </div>
</div>