<div id="wrapper">
        <form action="" method="post" id="formdangki">
            <div class="tagname">Đăng ký</div>
            <input id="dangki" type="text" placeholder="Nhập tên " ><br>
            <input id="dangki" type="email" placeholder="Nhập email"><br>
            <input id="dangki" type="password" placeholder="Nhập mật khẩu"><br>
            <input id="dangki" type="password" placeholder="Nhập lại mật khẩu">
            <div class="nutbamdangki">
            <button id="nutdangki" type="submit">Đăng ký</button>
            </div>
        </form>
    </div>
</div>